@page
@model TypescriptMvcDemo.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="content"></div>

<script src="~/libs/jquery.js"></script>
<script src="~/app/Pages/Index.Bundle.js"></script>

<script>
            //new Index().init();
</script>
